*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.v-con {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.h-con {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

body {
	min-height: 100dvh;
	gap: calc(var(--container-spacing) * 0.5);
	font-family: sans-serif;
	background: var(--bg);
}

main {
	gap: calc(var(--container-spacing) * 0.5);
}

header {
	gap: var(--container-spacing);
	padding-top: calc(var(--container-spacing) * 1.5);
	& > h1 {
		font-size: var(--title-size);
	}
}

dialog {
	margin: auto;
	height: 50%;
	width: 85%;
	background: var(--bg);
	border: 2px solid;
	padding: 10px;
	box-shadow: none;
	outline: none;
	&:not([open]) {
		display: none;
	}
	&::backdrop {
		background: rgb(0 0 0 / 50%);
	}
}

dialog,
form {
	gap: calc(var(--container-spacing));
}

.game-status {
	font-size: calc(var(--title-size) * 0.5);
	text-align: center;
}

[hidden] {
	display: none;
}
