.player-type {
	list-style: none;
	& li:first-child {
		background: var(--color-x);
	}
	& li:last-child {
		background: var(--color-o);
	}
}

.board {
	display: grid;
	grid-template-columns: repeat(3, var(--cell-size));
	grid-template-rows: repeat(3, var(--cell-size));
	background: var(--board-bg);
	gap: calc(var(--title-size) * 0.2);
	padding: 9px;
	border: 2.5px solid;
	border-radius: 8px;
	box-shadow: 5px 5px 5px color-mix(in oklab, var(--bg), black 24%);
}

.cell {
	--cell-dark-bg: color-mix(in oklab, var(--cell-bg), black 12%);
	--cell-color: white;
	background: var(--cell-bg);
	cursor: pointer;
	border: 2.5px solid;
	border-radius: 4px;
	box-shadow: none;
	text-align: center;
	font-size: var(--cell-content-size);
	@media (hover: hover) {
		&:hover {
			background: var(--cell-dark-bg);
		}
	}
	&:active {
		background: var(--cell-dark-bg);
	}
	&:disabled {
		background: var(--cell-dark-bg);
		border-color: black;
		cursor: not-allowed;
	}
	&.cell-x {
		--cell-color: var(--color-x);
	}
	&.cell-o {
		--cell-color: var(--color-o);
	}
	&.cell-x::before {
		content: "X";
		color: var(--cell-color);
	}
	&.cell-o::before {
		content: "O";
		color: var(--cell-color);
	}
	&.win {
		background: color-mix(in oklab, var(--cell-color), black 50%);
	}
}
