.player-type {
	list-style: none;
}

.player-type li:first-child {
	background-color: var(--color-x);
}

.player-type li:last-child {
	background-color: var(--color-o);
}

.board {
	display: grid;
	grid-template-columns: repeat(3, var(--cell-size));
	grid-template-rows: repeat(3, var(--cell-size));
	background-color: var(--board-bg);
	gap: 8px;
	padding: 8px;
	border: 2.5px solid;
	border-radius: 8px;
	box-shadow: 5px 5px 5px var(--shadow-color);
}

.cell {
	background-color: var(--cell-bg);
	width: auto;
	height: auto;
	cursor: pointer;
	border: 2.5px solid;
	border-radius: 4px;
	box-shadow: none;
}

.cell:hover {
	background-color: var(--cell-hover-bg);
}

.cell:disabled {
	pointer-events: none;
	background-color: var(--cell-hover-bg);
	border-color: black;
}

.cell-x::before {
	content: "X";
	color: var(--color-x);
	font-size: var(--cell-content-size);
}

.cell-o::before {
	content: "O";
	color: var(--color-o);
	font-size: var(--cell-content-size);
}

.reset-game {
	background-color: var(--reset-bg);
}

.reset-game:hover {
	background-color: var(--reset-hover-bg);
}

.reset-game:active {
	background-color: var(--reset-active-bg);
}
