.toasts {
	position: fixed;
	border: none;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	background: none;
	gap: 5px;
	pointer-events: none;
}

.toast {
	background: var(--toast-bg);
	pointer-events: auto;
	border: 3px solid black;
	border-radius: 4px;
	line-height: 1;
	padding: 10px;
	font-size: calc(var(--title-size) * 0.3);
	font-weight: bold;
	text-align: center;
	animation: toast-in 150ms ease;

	&.leaving {
		animation: toast-out 200ms ease forwards;
	}
}

@keyframes toast-in {
	from {
		opacity: 0;
		translate: 0 -0.75rem;
	}
}

@keyframes toast-out {
	to {
		opacity: 0;
		translate: 0 -0.75rem;
	}
}
