:root {
	--bg-color: hsl(165, 31%, 57%);
	--cell-bg: hsl(25, 25%, 29%);
	--cell-hover-bg: hsl(25, 25%, 20%);
	--board-bg: hsl(31, 72%, 50%);
	--color-x: hsl(345, 73%, 50%);
	--color-o: hsl(204, 76%, 50%);
	--cell-size: 6rem;
	--title-size: 3rem;
	--container-spacing: 5vh;
	--create-bg: hsl(308, 18%, 60%);
	--join-bg: hsl(6, 75%, 60%);
	--create-hover-bg: hsl(308, 18%, 50%);
	--join-hover-bg: hsl(6, 75%, 50%);
	--create-active-bg: hsl(308, 18%, 40%);
	--join-active-bg: hsl(6, 75%, 40%);
	--reset-bg: hsl(7, 40%, 70%);
	--reset-hover-bg: hsl(7, 40%, 60%);
	--reset-active-bg: hsl(7, 40%, 50%);
	--shadow-color: hsl(111, 43%, 25%);
}
